body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: #FAFAFA;
  /*background-image: linear-gradient(#F2F2F2, #CFCFCF);*/
}

.container {
  font-family: 'Lato thin', sans-serif;
  width: 500px;
  margin: 75px auto;
  color: #444;
}

.header {
  /*background-color: #5f7891;*/
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #b4b4e1;
}

.header h1 {
  margin-left: 10px;
  display: inline-block;
  padding-left: 15px;
}

.field {
  padding: 20px 0 10px 40px;
}

.room-list {
  background-color: #DDD;
  width: 150px;
  height: auto;
  top: 80px;
  bottom: 0;
  padding: 5px 0px 5px 0px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.room-list ul {
  margin: 0;
  padding: 0;
}

.room-list li {
  font-size: 14px;
  color: #336dcc;
  list-style: none;
  left: 0;
  right: 0;
  padding: 15px 10px 15px 25px;
}
.room-list li:hover {
  color: #ffb22d;
  cursor: pointer;
}

.chat-area {
  width: 100%;
  height: 485px;
  display: inline-block;
  position: relative;
  overflow-y: scroll;
  background-color: #FAFAFA;
}

.message {
  color: #888888;
  width: auto;
}
#username {
  margin-left: 150px;
  font-size: 14px;
  color: #AAA;
}
#content {
  margin-left: 150px;
}
#sentAt {
  float: right;
  margin-right: 20px;
  font-size: 12px;
  color: #AAA;
}

.chat-area-header {
  width: 100%;
  height: 30px;
  background-color: #88a9cc;
  padding-top: 10px;
}
.chat-area-header span {
  font-size: 16px;
  color: #424242;
  margin-left: 55%;
}

.message-list {
  padding: 15px 0 10px 20px;
  /*border-bottom: 2px solid #EEE;*/
}

.create-room {
  display: inline-block;
  float: right;
  height: 50px;
  margin-top: 20px;
  margin-right: 10px;
}

.btn {
  display: inline-block;
  font-size: 14pt;
  background-color: #EEE;
  padding: 10px 25px;
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #626262;
  text-decoration: none;
}
.btn:hover {
  background-color: #DDD;
  cursor: pointer;
}
/*.btn:hover:active {
  background-color: #AAA;
  color: #EEE;
}*/
.btn-success {
  background-color: #4a82b2;
  color: #FAFAFA;
}
.btn-success:hover {
  background-color: #386993;
}

.create-button {
  height: 40px;
  color: #626262;
}
.create-button:hover {
  background-color: #AAA;
  color: #EEE;
  cursor: pointer;
}

.send-message-area {
  position: fixed;
  display: block;
  padding: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #EEE;
}

.message-input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 5px 80px 5px 170px;
  background-color: #B2B2B2;
  font-size: 14px;
  color: #555555;
  border: none;
}

.send-message-button {
  width: 70px;
  height: 50px;
  border: none;
  display: inline-block;
  position: absolute;
  right: 0;
  background-color: #2a316d;
  font-weight: bold;
  color: #FFF;
}
.send-message-button:hover {
  background-color: #4853ad;
  cursor: pointer;
}
.send-message-button:hover:active {
  background-color: #181d4c;
}
