.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: "Helvetica", sans-serif;
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0;
  width: 480px; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#login-header {
  background-color: #72638e;
}

.modal-header {
  padding: 1px 16px 1px 16px;
  background-color: #6898a8;
  color: white;
}

.modal-body {
  padding: 20px 16px 0 16px;
  background-color: #EEE;
}
.modal-body label {
  color: #6d6d6d;
}

.modal-footer {
  padding: 0;
  background-color: #5f7891;
  color: white;
  height: 35px;
}
.modal-footer .modal-button {
  float: right;
  padding: 10px 15px 10px 15px;
  margin: 0;
  border: none;
  background-color: #5f7891;
  color: White;
  font-weight: bold;
}
.modal-footer .modal-button:hover {
  background-color: #7795b5;
  cursor: pointer;
}

.modal-footer .modal-button#userNameButton {
  width: 100%;
}

.modal-form {
  background-color: #EEE;
}
.modal-input {
  padding: 20px 0 0 22px;
  margin-bottom: 15px;
  width: 100%;
}

.input-field {
  padding-bottom: 5px;
}
.input-field input{
  width: 250px;
  padding: 5px 10px;
  border: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
