<div class="container">
  <header class="header">
    <div class="create-room">
      <button ng-click="home.newRoom()" class="create-button">New Room</button>
      <button ui-sref="login" class="btn-default">Log in</button>
      <!-- <button ui-sref="register" class="btn-default">Sign up</button> -->
      <button ng-click="home.register()" class="btn-default">Sign up</button>
      <button ng-click="home.logout()" class="btn-default">Log out</button>
    </div>
  </header>

  <section class="channels">
    <ul ng-repeat="room in home.rooms"> <!-- Modify -->
      <li ng-click="home.allMessages(room.$id, room.$value)">{{room.$value}}</li>
    </ul>
  </section>

  <main class="messages">
    <div class="chat-area-header"> <!-- channel name -->
      <span>{{home.roomTitle}}</span>
    </div>
    <div ng-repeat="msg in home.messages" class="message-list">
      <span class="message" id="username">{{msg.username}}:<br></span>
      <span class="message" id="content">{{msg.content}}</span>
      <span class="message" id="sentAt">At: {{msg.sentAt}}<br></span>
    </div>
  </main>

  <footer class="msg-input">
    <div class="send-message-area"> <!-- Modify -->
      <button type="button" ng-click="home.sendMessage()" class="send-message-button">Send</button>
      <input type="text" ng-model="home.newMessage" placeholder="Type in the message" class="message-input" />
    </div>
  </footer>
</div>
