<div class="channel-main">
  <section class="sidebar">

    <!-- <div class="slack-name">
      <h2>Let's Slack</h2>
    </div> -->

    <div class="my-info">
      <img class="user-pic" ng-src="{{ channelCtrl.getGravatar(channelCtrl.profile.$id) }}" />
      <div class="user-info">
        <div class="user-name">
          {{ channelCtrl.profile.displayName }}
        </div>

        <div class="options">
          <a ui-sref="profile">edit profile</a>
          /
          <a href="#" ng-click="channelCtrl.logout()">Log out</a>
        </div>
      </div>
    </div>

    <section class="channel-list">
      <div class="channel" id="create">
        <a ui-sref="channels.create">
          create channel<ion-icon name="add-circle-outline" class="list-icon"></ion-icon>
        </a>
      </div>

      <div class="list-head">Channels</div>
      <div class="wrapper" id="channel-wrap">
        <div class="channel" ng-repeat="channel in channelCtrl.channels">
          <a ui-sref="channels.messages({channelId: channel.$id})" ui-sref-active="selected">
            <span>#</span> <b>{{ channel.name }}</b>
          </a>
        </div>
      </div>

      <hr class="section-divider"></hr>

      <div class="list-head">Direct Messages</div>
      <div class="wrapper" id="dir-msg-wrap">
        <div class="channel" ng-repeat="user in channelCtrl.users">
          <a ng-if="user.$id !== channelCtrl.profile.$id" ui-sref="channels.direct({uid: user.$id})" ng-sref-active="selected">
            <span class="presence" ng-class="{online: user.online}"></span>
            <b>{{ user.displayName }}</b>
            <ion-icon name="text" class="list-icon" ng-class="{online: user.online}"></ion-icon>
          </a>
        </div>
      </div>
    </section>

  </section>

  <main class="message-pane">
    <ui-view></ui-view>
  </main>
</div>
