<div class="container">
  <header class="header">
    <h1>Welcome to Let's Slack</h1>
  </header>

  <main class="field">
    <div class="field-content">
      <div style="text-align: center">
        <button ng-click="home.login()" class="btn">Log in</button> or
        <button ng-click="home.register()" class="btn btn-success">Sign up</button>
        <!-- <button ng-click="home.logout()" class="btn-default">Log out</button> -->
      </div>
      <h4 class="content-text">
        Let's Slack is an open source Slack clone built using Firebase's AngularFire library.
        Please feel free and enjoy the app!
      </h4>
    </div>
    <div class="field-footer">
    </div>
  </main>
</div>
